


.Thumbnail {
  width: 100%;
}


.videotime {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-family: Roboto, Arial;
  font-size: 14px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
}


.Preview {
 
}

.pfp {
  width: 40px;
  border-radius: 50px;
}

.ThumbnailRow {
  margin-bottom: 12px;
  position: relative;
}

.Title {
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 500;
  font-weight: bold;
  line-height: 20px;
}

.video-info {
 
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 14px;
  row-gap: 40px;

}

@media (max-width: 1000px) {
  .video-grid {
    
    grid-template-columns: 1fr 1fr ;
    
  
  }
}

@media (max-width: 600px) {
  .video-grid {
    
    grid-template-columns: 1fr  ;
    
  
  }
}


.channel-pic {
 
}

.Stats,
.Author {
  font-size: 13px;
  color: grey;
  margin-bottom: 4px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;

}